@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #fe2c55;
  --text-color: #000;
  --facebook-color: #0075fa;
  --google-color: #efb529;
  --twitter-color: #1da1f2;
  --whatsapp-color: #25d366;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  overflow-y: overlay;
}

input,
button {
  outline: none;
  border: none;
}

a[href] {
  color: #161823;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}
